input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

select.ng-invalid.ng-touched {
  background-color: #FA787E;
}

label.ng-invalid.ng-touched {
  background-color: #FA787E;
}

input.ng-valid.ng-touched {
  background-color: #78FA89;
}

select.ng-valid.ng-touched {
  background-color: #78FA89;
}

label.ng-valid.ng-touched {
  background-color: #78FA89;
}
